*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;


}
body{
    background-color: #b58461;
    text-align: center;
}
#logo{
    /* size */
}
/* .container-fluid{
    background-color:#654b38;
    color:aliceblue;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    
} */

.nav-link{
 font-family: "Inter", sans-serif;
 color:aliceblue;
    
}



 :is(#navbar){
    background-color: #654b38;
    color: white;
    font-weight: bold;
 }
 
 .container{
    padding: 2 rem;
 }

 #name{ 
    color: aliceblue;
    font-weight: bold;
    font-family:"Inter", sans-serif;
    font-size: 5rem;
    
 }

 #description{
    color: aliceblue;
    align-content: right;
 }

img[alt='logo']{
    width: 6rem;
}
img[alt='profile'] {
    width: 35rem;
    clip-path: circle(50% at 50% 50%);
    animation: slideIn 1s ease-out 0.5s;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
:is(img[alt='logo'], img[alt='profile']){
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
.section2{

  background-color: #654b38;

}

#About{
    margin-left: 40px;
    padding-top: 85px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color:aliceblue;
    align-self: flex-start;
    font-size: 5 rem;
    align-content: center;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

#Me{
    margin-left: 40px;
    
    word-wrap: normal;
    color: aliceblue;
    font-weight: bold;
    font-family:"Inter", sans-serif ;
}
img[alt='Picture'] {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 35rem;
    
}
.container2{
 padding-top: 75px;
 background-color: #654b38;
}


.Resume{
    font-size: 75px;
    font-family:images/Mapule.jpg;
    font-weight: bold;
    color: aliceblue;
    padding-top: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}


    
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;

}

#container div{
height: 370px;
width: 340px;
background: #654b38;
margin: 70px;

}

.headings{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: aliceblue;
    padding-bottom: 20 px;

}

#block1{
color: #f5d7c2;
font-weight: bold;
animation: slideIn 1s ease-out;
box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
border-radius: 10px;

}

#block2{
    color: #f5d7c2;
    font-weight: bold;
    animation: slideIn 1s ease-out 0.5s;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}
#block3{
    color: #f5d7c2;
    font-weight: bold;
    animation: slideIn 1s ease-out 1s;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    
}


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#Projects{
    background-color: #654b38;
}
.card{
    margin: 50px;
}

#Reach{
background-color: #654b38;
}

.card-text{
    font-style: italic;
    font-family: "Inter", sans-serif;

}

.card{
    display: inline-block;

}
.card-body{
    background-color: #ffe5d3;
}

#footer{
background-color: black;
color: aliceblue;
font-family: 'Times New Roman', Times, serif;

}